.t-catalog, .t-agents-catalog {
    min-width: 320px;
    background-color: #000;
    @media (min-width: 1024px) {
        max-width: 320px;
    }
    @media (max-width: 767px) {
        max-width: 767px;
    }
}
.t-agents-catalog.empty {
    height: 100%;
    div {
        &:first-child {
            height: 100%;
        }
    }
    .t-agents-item {        
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}