.t-main {
    background-color: #000;
    &__catalog {
    }
    &__nav {
        height: 40px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: $nav;
    }
}