.t-nav-content{
    position: fixed;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    width: 100%;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 15px 12px;
    overflow-y: auto;
    z-index: $t-nav-content;
    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 767px) {
        top: 0;
    }
}
.t-nav-content__categories {
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        color: $t_grey;
        margin: 6px;
        &:nth-child(1n) {
            width: calc(50% - 12px);
            
        }
        &:nth-child(2n) {
            width: calc(50% - 12px);
        }
        &:nth-child(3n) {
            width: 100%;
        }
    }
}

.t-nav-menu {
    height: 40px;
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $nav;
    &__list {
        min-height: 40px;
        background-color: #fff;
        border-radius: 13px;
        border: 0.5px solid rgba(85, 85, 85, 0.15);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        list-style: none outside none;
        padding: 0 13px;
        justify-content: space-between;
    }
    &__icon {
        svg {
            path, circle {
                stroke: $t_grey;
            }
        }
        &.active {
            svg {
                path, circle {
                    stroke: $t_red;
                }
            }
        }
    }

    @media (max-width: 767px) {
        bottom: 0;
        width: 100%;
    }
}

.t-nav-search {
    width: 100%;
    display: flex;
    border: 1px solid rgba(85, 85, 85, 0.3);
    background-color: #fff;
    border-radius: 13px;
    padding: 7px 10px;
    &__input {
        width: 100%;
        border: none;
        outline: none;
    }
    &__submit {
        margin-left: 5px;
    }
}
// regions
.t-nav-main-content {   
    @extend .t-nav-content;
    background-color: #fff;
    opacity: 1;
    &__close {
        @extend .t-nav-content__close;
    }
}
.t-nav-main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    &__link {
        font-size: 24px;
        line-height: 29px;
        color: $t_grey;
        text-decoration: none;
    }

    &__location {
        display: flex;
        align-items: center;
    }
    &__badge {
        margin-right: 4px;
    }
    &__text {
        font-size: 18px;
        line-height: 22px;
        color: $t_grey;
    }
}
.t-nav-main-search {
    @extend .t-nav-search;
    margin-bottom: 10px;
    position: relative;
    &__input {
        @extend .t-nav-search__input;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        color: rgba(85, 85, 85, 0.3);
    }
}
.autocomplete-results {
    position: absolute;
    top: 41px;
    left: 0;
    border-radius: 13px;
    background-color: #fff;
    border: 1px solid $t_grey;    
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    min-height: 1em;
    max-height: 6em;
    overflow: auto;
    li {
        list-style: none;
        text-align: left;   
        cursor: pointer;
        padding: 3px 12px;
        color: $t_grey;
        &:hover, &:focus {
            background-color: #4AAE9B;
            color: #000;
        }
    }
  }
.t-nav-main-regions {
    
    &__wrapper {
        max-width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: start;
    }
    &__item {
        font-size: 18px;
        line-height: 22px;
        color: $t_grey;
        overflow-wrap: anywhere;
    }
    &__text {
        margin: 0 10px 10px 0;
        &.star {
            position: relative;
            padding-left: 10px;
            &::before {
                content: '\22C6';
                position: absolute;
                left: 0;
                top: 0;
                font-size: 18px;
                line-height: 22px;
                color: #000;
            }
        }
    }
}

.tMainNav {
    box-shadow: 0px 4px 24px rgb(0 0 0 / 25%);
    z-index: $t-nav-slider;
    @media (min-width: 768px) {
        width: 320px;
        margin-right: 0;
        margin-left: auto;
        width: calc(100% - 320px);
    }
}