.t-notification {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: 0;
    width: 320px;
    height: 30px;
    border-radius: 10px;
    &.success {
        background-color: green;        
        color: #fff;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}