@import "variables";

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: $font-montserrat;
    margin: 0;
    padding: 0;
}