@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');
$font-montserrat: 'Montserrat', sans-serif;
$font-arial: Arial, sans-serif;
$font-montserrat-alternates: 'Montserrat Alternates', sans-serif;
$t_red: #FF0000;
$t_blue: #4986CC;
$t_grey: #555555;
$t_black: #000;
// z-index
$card: 2;
$notification: 2;
$nav: 3;
$t-nav-content: 3;
$t-nav-slider: 4;
