@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$font-montserrat: 'Montserrat', sans-serif;
$font-arial: Arial, sans-serif;

$red: #FF0000;
$blue: #4986CC;
$grey: #555555;
// z-index
$product-info: 10;
$product-info-close: 11;